{% extends 'base.html' %}

{% block title %}
Carts
{% endblock %}

{% block content %}
{% if empty %}
<h2>Your Cart is Empty, please keep shopping</h2>
{% else %}
<h2>Carts: </h2>
<div class="carts-site">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Qty</th>
                <th></th>
            </tr>
        </thead>
        
        <tfoot>
            <tr>
                <td></td>
                <td>Total: {{ my_cart.total }}</td>
            </tr>
        </tfoot>
        {% for item in my_cart.cartitem_set.all %}
        <tr>
            <td>{{ item.product }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{item.quantity}}</td>
            <td><a href="{% url 'update_cart' item.product.slug %}">Remove</a></td>
        </tr>

        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}




